body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #153240;
    font-family: Arial, sans-serif;
}

.login-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.logo {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.logo img {
    max-width: 270px;
}

.login-container {
    background-color: #9b9b9b;
    width: 400px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    text-align: center;
    margin-bottom: 5%;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-field {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: -8px;
}

.error-message-container {
    margin-top: 12px;
}

.submit-button {
    background-color: #153240;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    margin-top: 15px;
}

.submit-button:hover {
    background-color: #122c36;
}