/* General container for the form */
.asignatura-form-container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 10px;
}

ul, ol {
  list-style-type: none;
  padding-left: 0;
}

/* Styling for the form labels and inputs */
.form-group {
  display: flex;
  align-items: center;
  justify-content: center; /* Centrar los campos */
  margin-bottom: 15px;
}

label {
  font-weight: bold;
  margin-right: 10px;
  text-transform: uppercase;
  width: 150px;
  text-align: left;
}

.asignatura-form select, .asignatura-form input {
  flex: 1;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.section-header {
  background-color: #d3d3d3;
  text-align: center;
  font-weight: bold;
  padding: 25px 15px;
  border-radius: 5px;
  margin-bottom: 20px;
  text-transform: uppercase;
  margin-top: 30px;
}

/* Table container */
.table-container {
  margin-top: 20px;
  background-color: #fff;
  border-radius: 10px;
  padding: 25px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th, table td {
  padding: 15px;
  text-align: center; 
  border-bottom: 1px solid #ccc;
}

table th {
  background-color: #e9e9e9;
  font-weight: bold;
  text-transform: uppercase;
}

/* Styling for error messages */
.error-message {
  margin-top: 20px;
  padding: 15px;
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  animation: fadeInError 0.5s ease-in;
}

/* Animación de fadeIn para el mensaje de error */
@keyframes fadeInError {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Styling for success messages */
.success-message {
  margin-top: 20px; /* Separar del contenido anterior */
  margin-bottom: 20px;
  padding: 15px;
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  animation: fadeIn 0.5s ease-in;
}

/* Animación de fadeIn para el mensaje de éxito */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
  .form-group {
    flex-direction: column;
    align-items: flex-start;
  }

  .asignatura-form select, .asignatura-form input {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    font-size: 0.9em;
  }

  label {
    width: 100%;
    margin-bottom: 5px;
    text-align: left;
  }

  table, .table-container {
    overflow-x: auto;
  }

  table th, table td {
    padding: 12px;
    font-size: 0.9em;
  }
}

/* Button container */
.form-button-container {
  display: flex;
  justify-content: space-around;  /* Asegura que los botones se distribuyan uniformemente */
  gap: 40px;  /* Aumenta el espacio entre los botones */
  margin-top: 20px;
}

/* General button styles */
.form-button {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  background: rgb(21, 50, 64);
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Transición suave para el cambio de color */
  margin: 0 50px; /* Añade margen de 20px a la izquierda y derecha */
}

/* Hover effect for general button */
.form-button:hover {
  background-color: #093300;
}

/* Specific style for "Regresar" button */
.form-button.regresar {
  background-color: rgb(21, 50, 64);
}

.form-button.regresar:hover {
  background-color: #4D0000; /* Color de hover más oscuro */
}

/* Specific style for "Guardar" button */
.form-button.guardar {
  background-color: rgb(21, 50, 64);
}

.form-button.guardar:hover {
  background-color: #004d0f; /* Color de hover azul */
}

/* Specific style for "Siguiente" button */
.form-button.siguiente {
  background-color: rgb(21, 50, 64);
}

.form-button.siguiente:hover {
  background-color: #00004d; /* Color de hover azul */
}

/* Specific styles for the totalHorasSemanales and totalHorasSemestre inputs */
.centered-input {
  text-align: center;
  width: 150px; /* Ajusta el tamaño del input para que sea más grande */
  margin: 0 auto;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

/* For table row totals */
.activity-table td {
  padding: 10px;
}
